
<div class = "login-page">



<ng-container *ngIf = "!forgotPassword">
  <form class="login" [formGroup] = "loginform">
    <h2>Welcome, User!</h2>
    <p>Please log in</p>
    <input type="text" placeholder="email" formControlName = "email" />
    <input type="password" placeholder="Password" formControlName = "password" />
    <input type="submit" value="Log In" (click) = "login()" />
    <div class="links">
      <a (click) = "forgotPasswordForm()">Forgot password</a>
      <a (click) = "redirectSignup()">Register</a>
    </div>
    <p style = "width:100%;">{{errorMessage}}</p>
  </form>
</ng-container>
<ng-container *ngIf = "forgotPassword">
  <div class = "forgotPasswordForm" [formGroup] = "forgotPwdForm">
    <h2 style = "text-align: center;">Forgot Password</h2>
    <h3>{{emailStatus}}</h3>
  <input class = "forgotPasswordEmail" type = "text" placeholder = "Email" formControlName = "forgotEmail">
  <input class = "forgotPasswordButton" value = "submit" type = "submit" (click) = "submitForgotPassword()">
 <br>
 <br>
  <input class = "return-btn" value = "Return" type = "submit" (click) = "returnToLogin()"> 
  </div>
</ng-container>
  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
</div>