<header class="header">
	<div class="container">
		<div class="row-wrap">
			<div class="logo-wrap" (click) = "goHome()">
				<img src="./assets/icon.jpeg" height="50px" width = "50px" style="margin-right: 10px;margin-left: 0px;margin-bottom: 0px;margin-top: 0px;position: relative;left:0;border-radius:50%;">
				<span class="logo">Nimbly AI</span>
				<!-- <img src="./assets/baby-back.gif" height = "5px" width="5px"> -->
			</div>
			<div class="nav-wrap">

				<ul class="nav-list">
					<ng-container *ngIf = "!premiumStatus">
					<li style = "cursor: pointer;">
						<a (click) = "openGetPremiumModal()">
						<!-- <i class="fa-solid fa-star"></i> -->
						Premium</a>
					</li>
				</ng-container>
					<li style ="cursor: pointer;" ><a (click) = "einsteinWriter()" >Nimbly Tool</a></li>
					<li style = "cursor: pointer;"><a (click) = "einsteinChat()">Nimbly Chat</a></li>
					<!-- <li><a href="#">Einstein Docs</a></li> -->
					<li class="with-submenu">
						<a (click) = "accountPage()">Account</a>
						<div class="submenu">
							<ul class="submenu-inner" style = "list-style: none;
							padding:0px;">
								<li><a (click) = "accountPage()">Account</a></li>
								<!-- <li><a href="#">Subscription</a></li> -->
								<li><a (click) = "redirectFAQ()">FAQ</a></li>
								<li><a (click) = "logout()">Sign out</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="hamburger" (click) = "toggleMenu()">
				<span class="line"></span>
				<span class="line"></span>
				<span class="line"></span>
			</div>
			<ng-container *ngIf = "onHamburger">
				<ul class="hamburger-menu" style = "list-style: none;
				
							padding:0px;">
							<div id="stars"></div>
							<div id="stars2"></div>
							<div id="stars3"></div>
							<div id="stars4"></div>
						
								<li class = "hamburger-menu-title">Main Menu</li>
								<li (click) = "einsteinWriter()">Nimbly Tool</li>
								<!-- <li><a href="#">Subscription</a></li> -->
								<li (click) = "einsteinChat()">Nimbly Chat</li>
								<li (click) = "accountPage()">Account</li>
								<li (click) = "toggleMenu()" class = "hamburger-menu-close-btn">Close</li>
				</ul>
			</ng-container>

		</div>
	</div>
</header>
<!-- <div class="overlay"></div> -->