<header class="header">
	<div class="container">
		<div class="row-wrap">
			<div class="logo-wrap">
				<img src="./assets/icon.jpeg" height="50px" width = "50px" style="margin-right: 10px;margin-left: 0px;margin-bottom: 0px;margin-top: 0px;position: relative;left:0;border-radius:50%;">
				<span class="logo">EinsteinWriter</span>
			</div>
			<div class="nav-wrap">

				<ul class="nav-list">
					<li>
						<a (click) = "openGetPremiumModal()">
						<i class="fa-solid fa-star"></i>
						Premium</a>
					</li>
					<li class="active"><a (click) = "einsteinWriter()" >Einstein Writer</a></li>
					<li ><a (click) = "einsteinChat()">Einstein Chat</a></li>
					<!-- <li><a href="#">Einstein Docs</a></li> -->
					<li class="with-submenu">
						<a href="#">Account</a>
						<div class="submenu">
							<ul class="submenu-inner" style = "list-style: none;
							padding:0px;">
								<li><a href="#">Security</a></li>
								<li><a href="#">Subscription</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Sign out</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="hamburger">
				<span class="line"></span>
				<span class="line"></span>
				<span class="line"></span>
			</div>
		</div>
	</div>
</header>
<!-- <div class="overlay"></div> -->