@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.signin-page {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
//   background: #1b1c26; 
  font-family: Raleway, sans-serif;
  background-color: #e5e5f7;
  opacity: 1;
  background-image:  linear-gradient(135deg, #9feaf9 25%, transparent 25%), linear-gradient(225deg, #1b1c26 25%, transparent 25%), linear-gradient(45deg, #1b1c26 25%, transparent 25%), linear-gradient(315deg, #1b1c26 25%, #e5e5f7 25%);
  background-position:  40px 0, 40px 0, 0 0, 0 0;
  background-size: 80px 80px;
  background-repeat: repeat;
  color:#9feaf9;
//   background-color: #e5e5f7;
//   opacity: 1;
//   background-image:  linear-gradient(30deg, #9feaf9 12%, transparent 12.5%, transparent 87%, #1b1c26 87.5%, #1b1c26), linear-gradient(150deg, #1b1c26 12%, transparent 12.5%, transparent 87%, #1b1c26 87.5%, #1b1c26), linear-gradient(30deg, #1b1c26 12%, transparent 12.5%, transparent 87%, #1b1c26 87.5%, #1b1c26), linear-gradient(150deg, #1b1c26 12%, transparent 12.5%, transparent 87%, #1b1c26 87.5%, #1b1c26), linear-gradient(60deg, #1b1c2677 25%, transparent 25.5%, transparent 75%, #1b1c2677 75%, #1b1c2677), linear-gradient(60deg, #1b1c2677 25%, transparent 25.5%, transparent 75%, #1b1c2677 75%, #1b1c2677);
//   background-size: 80px 140px;
//   background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.signin {
  
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #1b1c26;
  box-shadow: 1px 1px 1px #666;
  color:#9feaf9;
}
  .signin input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
    font-family: Raleway, sans-serif;
  }

.signin input[type=text],
.signin input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.signin input[type=text]:hover {
  border-color: #F44336;
  outline: none;
  transition: all .2s ease-in-out;
} 

.signin input[type=submit] {
  border: none;
  background: #9feaf9;
  color: white;
  font-weight: bold;  
  transition: 0.2s;
  margin: 20px 0px;
}

.signin input[type=submit]:hover {
  background: #50dbf7;  
}

  .signin h2 {
    margin: 20px 0 0; 
    color: #9feaf9;
    font-size: 28px;
  }

.signin p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;  
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

  .signin h2,
  .signin p,
  .signin a {
    text-align: center;    
  }

.signin a {
  text-decoration: none;  
  font-size: .8em;
}

.signin a:visited {
  color: inherit;
}

.signin a:hover {
  text-decoration: underline;
}

