
<div class ="docInput">

    <div class="tabs" style="height:100%;">
        <div class="tab-2">
          <label for="tab2-1">Input</label>
          <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
          <div style = "padding:0px;height:100%;">
            <!-- <h4>Tab One</h4> -->
            <textarea id='text' placeholder="Enter Your Text Here..." maxLength='1000'></textarea>
          </div>
        </div>
        <div class="tab-2">
          <label for="tab2-2">AI Output</label>
          <input id="tab2-2" name="tabs-two" type="radio">
          <div style = "padding:0px;height:100%;">
            <!-- <h4>Tab Two</h4> -->
            <textarea id='AIResponse'  value = {{AIresponse}} maxLength='1000'></textarea>
          </div>
        </div>
      </div>

















</div>