<!-- <div class = "page">
    <app-header></app-header>
    <app-text-area-input style = "position:relative;top:65px;height:calc(100% - 65px);"></app-text-area-input>
    <app-button-right-area></app-button-right-area>
</div>
     -->
     <app-header></app-header>

<app-text-area-input style = "position:fixed;top:70px;height:calc(100% - 210px);width:100%; min-width: 360px;"></app-text-area-input>
<!-- <app-button-bottom-row style="position: absolute;bottom:0;width:100%;"></app-button-bottom-row> -->
