<div class = "button-right-area">
<div class = "button-area-title">AI Features</div>
<div class = "EinsteinDocButtons">
    <app-button buttonName="Ideas"></app-button>
    <app-button buttonName="Improve"></app-button>
    <app-button buttonName="Fix Grammar"></app-button>
    <app-button buttonName="Write draft"></app-button>
    <app-button buttonName="Summarize"></app-button>
    <app-button buttonName="Completion"></app-button>
    <app-button buttonName="Translate"></app-button>
    <app-button buttonName="Poemize"></app-button>
    <app-button buttonName="Scriptize"></app-button>
    <app-button buttonName="Storytize"></app-button>
</div>
</div>