.chatOption{
    height:100px;
    width: 100%;
    border-bottom: 3px solid black;
    display:flex;
    align-items: center;
}
.img-wrapper{
    background-color: grey;
    border-radius: 50%;
    height:50px;
    width:50px;
    margin-right:10px;
    margin-left:5px;
}