<div class = "button-bottom-row">
    <button class = "button-bottom">Generate Ideas</button>
    <button class = "button-bottom">Improve</button>
    <button class = "button-bottom">Fix Grammar</button>
    <button class = "button-bottom">Write Draft</button>
    <button class = "button-bottom">Summarize</button>
    <button class = "button-bottom">Completion</button>
    <button class = "button-bottom">Translate</button>
    <button class = "button-bottom">Create Poem</button>
    <button class = "button-bottom">Create Script</button>
    <button class = "button-bottom">Create Story</button>
    <button class = "button-inverse">Save All</button>
    
</div>