<div class = "chatbox" >
    <!-- Conversation and pending-conversation lists (Left side) -->
    <app-chat-options 
        class = "chat-options {{chatOptionsClass}}"
        [currentConversationId]="currentConversationId"
        (mobileChatEvent)="mobileChatlogsView($event)" 
        (currentConversationIdChange)="SetConversation($event)"
    ></app-chat-options>

    <!-- Actual current conversation (Right side)-->
    <app-chatlogs 
        class = "chatlogs {{chatlogsClass}}" 
        [conversationId]="currentConversationId"
        [conversation]="currentConversation"
        (mobileChatEvent)="mobileChatlogsView($event)" 
        (currentConversationIdChange)="SetConversationId($event)"
    ></app-chatlogs>
</div>