<app-header></app-header>


<div class = "nav-page"> 
    <h2 style="color:#fff">Get Started</h2>
    <h3>Hi, {{email}}</h3>
    <!-- <div class = "typewriter"> 
        <div class = "fragment1">
            Hello! I'm Nimbly, an AI-powered chat bot
        </div>
        <div class = "fragment2">
            Designed to 
        </div>
        <div class = "fragment 2-1">help you with your tasks</div>
        <div class = "fragment 2-2">provide a listening ear when you need it.</div>
        <div class = "fragment3">
            So what can I help you with today? Let's get started!
        </div>
    </div>  -->
        <img src = "./assets/welcome-chat-removebg-preview.png">
        <p style = "margin: auto;color: hotpink;">Hello! I'm Nimbly, an AI-powered chat bot!</p>
        <div>
            <div class="button_slide slide_right" (click) = "chat()">Chat</div>
        </div>
        <img src = "./assets/icon2-removebg-preview.png" style = "width:256px;height:256px;">
        <p  class = "animation-delay" style = "margin: auto;color: hotpink;">Or perhaps try our tool version.</p>
        <div>
            <div class="primary slide-right-primary" (click) = "tool()">Tool</div>
        </div>

  


    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="stars4"></div>
</div>