
  <body>
    <header>
      <h1>Frequently Asked Questions</h1>
    </header>
    
    <main>
      <section>
        <h2>General Questions</h2>
        <ul>
          <li>
            <h3>What is NimblyAI?</h3>
            <p>NimblyAI is a powerful tool that uses advanced machine learning algorithms to help you solve problems and make better decisions.</p>
          </li>
          <li>
            <h3>How do I sign up?</h3>
            <p>To sign up for NimblyAI, simply go to our website and follow the instructions on the signup page. You'll need to provide some basic information about yourself and create a username and password.</p>
          </li>
          <li>
            <h3>How much does it cost?</h3>
            <p>NimblyAI is completely free to use with credits.  After credits run out, you'll need to sign up for one of our subscription plans to continue using the app. Prices start at $9.99 per month.</p>
          </li>
          <li>
            <h3>What are credits?</h3>
            <p>Credits let you use the AI functionality. 1 Question = 1 Credit.  Credits are spent in both the chat app and the tool. You will soon be able to get credits daily from login and other activities such as ads.</p>
          </li>
        </ul>
      </section>
      
      <section>
        <h2>Technical Questions</h2>
        <ul>
          <li>
            <h3>What platforms does NimblyAI support?</h3>
            <p>NimblyAI is available on all major platforms, including Windows, Mac, iOS, and Android.</p>
          </li>
          <li>
            <h3>What kind of data can I input into NimblyAI?</h3>
            <p>NimblyAI can process a text only.</p>
          </li>
          <li>
            <h3>How do I get support?</h3>
            <p>If you need help with NimblyAI, you can contact our support team at admin@nimblyai.com. We'll get back to you as soon as possible.</p>
          </li>
        </ul>
      </section>
    </main>
    
    <footer>
      <p>© 2023 NimblyAI. All rights reserved.</p>
      <p>Contact us: <a href="mailto:admin@nimblyai.com" style = "color:#fff">admin@nimblyai.com</a></p>
    </footer>
  </body>
